<section class="join">
    <div class="container">
        <div class="join__wrapper">
            <div class="join__gallery">
                <img src="images/content/gallery/1.jpg" alt="">
                <img src="images/content/gallery/2.jpg" alt="">
                <img src="images/content/gallery/3.jpg" alt="">
                <img src="images/content/gallery/4.jpg" alt="">
                <img class= "hide"  src="images/content/gallery/5.jpg" alt="">
                <img class= "hide" src="images/content/gallery/6.jpg" alt="">
            </div>
            <div class="join__action">
                <h1 class="join__title title">Присоединяйтесь к нам</h1>
                <p class="join__info">Подпишитесь на наш аккаунт @marooncare
                    и узнавайте о новиках и акциях первыми</p>
                <a href="" class="join__subscribe bnt">Подписаться</a>
            </div>
        </div>
    </div>
</section>